<div th:replace="~{/admin/header}"></div>
<div class="container-fluid contact py-5">
    <div class="container pt-5">
        <div class="row g-4 align-items-center justify-content-center">
            <div class="col-lg-6 d-flex justify-content-center">
                <div style="background-color: #e9ecef;" class="form-control rounded p-5 user-form">
                    <form>
                        <div class="display-6 mb-4" style="color: var(--bs-primary); text-align: center;"><b>THÊM NHÂN
                                VIÊN</b></div>
                        <div class="row gx-4 gy-3">
                            <div class="col-xl-12">
                                <input name="fullName" type="text" class="form-control bg-white border-0 py-3 px-4"
                                    placeholder="Họ tên" required>
                            </div>
                            <div class="col-xl-12">
                                <input name="birth" required type="text"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Ngày sinh"
                                    onfocus="(this.type='date')" , onblur="(this.type='text')">
                            </div>
                            <div class="col-xl-12">
                                <input name="email" required type="email"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Email">
                            </div>
                            <div class="col-xl-12">
                                <input name="phoneNumber" required type="text"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Số điện thoại">
                            </div>
                            <div class="col-xl-12">
                                <input name="username" required type="text"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Username">
                            </div>
                            <div class="col-xl-12">
                                <input name="password" required type="password"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Password">
                            </div>
                            <div class="col-xl-12">
                                <select class="form-select bg-white border-0 py-3 px-4" id="role" name="roleID"
                                    required>
                                    <option selected>Chọn vai trò</option>
                                    <option value="1">Tùy chọn 1</option>
                                </select>
                            </div>

                            <div class="col-xl-12">
                                <input name="image" required type="file" accept="image/*"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Ảnh đại diện">
                            </div>
                            <div class="col-12">
                                <button class="rounded-pill btn btn-primary btn-primary-outline-0 w-100 py-3 px-5"
                                    type="submit">Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/admin/footer}"></div>
<script>
    const renderRole = async function () {
        await fetchData("/role/roles", (apiResponse) => {
            if (!apiResponse.success) {
                console.error(apiResponse.message);
            }
            const container = $("#role")
            let html = "<option selected>Chọn vai trò</option>"
            const roles = apiResponse.result
            roles.forEach((role) => {
                if (role.name != "CUSTOMER")
                    html += `<option value="${role.id}">${role.name}</option>
                `
            })
            container.html(html)
        })
    }
    renderRole();
    $("form").submit(async function (e) {
        e.preventDefault()
        const form = e.target
        const formData = new FormData(form)
        await fetchData("/employee", (apiResponse) => {
            if (!apiResponse.success) {
                alert("Tạo tài khoản thất bại!")
                return
            }
            alert(`Tạo tài khoản thành công`);
            window.location.href = "/admin/home"
        }, {
            method: "POST",
            body: formData
        })
    })
</script>