<div th:replace="~{/admin/header}"></div>



<div class="container-fluid pt-4 px-4">
    <h3 class="mb-0 text-primary" style="text-align: center;">QUẢN LÝ LỊCH HẸN</h3>
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <h6 class="mb-0">Danh sách lịch hẹn</h6>
            </div>
            <div>
                <button class="me-2 btn btn-success" onclick="renderAll()"> Tất cả</button>
                <button class="me-2 btn btn-primary" onclick="renderToday()">
                    Today
                </button>
                <button class="me-2 btn btn-warning" onclick="renderTomorow()">
                    Tomorow
                </button>
            </div>
            <form class="d-flex justify-content-end ms-4">
                <input class="form-control border-0" id="fullName" type="search" placeholder="Search">
                <button id="search" class="pt-1 mx-2 btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Service</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="appointmentContainer">
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <td>USA</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <div id="pagination-page"></div>
            </div>
        </div>
    </div>
</div>




<div th:replace="~{/admin/footer}"></div>
<script>

    const renderAppointment = async function (endpoint) {
        await fetchData(endpoint, (apiRespone) => {
            if (!apiRespone.success) {
                console.err(apiRespone.message)
            }
            const appointments = apiRespone.result
            let container = $("#appointmentContainer")
            let html = ""
            appointments.forEach((appointment, index) => {
                let services = ""
                appointment.services.forEach((x) => {
                    services += `<div>${x}</div>`
                })
                let status = appointment.status ? "Đã thanh toán" : "Chưa thanh toán"
                html += ` 
                    <tr>
                        <th scope="row">${index + 1}</th>
                        <td>${appointment.customerName}</td>
                        <td>${appointment.date}</td>
                        <td>${services}</td>
                        <td>${status}</td>
                    </tr>
                `
            })
            container.html(html)
        })
    }
    const renderToday = async function () {
        renderAppointment("/appointment/today");
        $('#pagination-page').hide()
    }
    const renderTomorow = async function () {
        renderAppointment("/appointment/tomorow");
        $('#pagination-page').hide()

    }
    const initPage = async function () {
        await fetchData("/appointment/totalPage", (apiRespone) => {
            if (!apiRespone.success) {
                console.error(apiRespone.message)
            }
            const totalPage = apiRespone.result.totalPage
            $('#pagination-page').twbsPagination({
                totalPages: totalPage,
                visiblePages: 5,
                onPageClick: async function (event, page) {
                    let endpoint = "/appointment/all/" + page
                    renderAppointment(endpoint)
                }
            });
        })
        renderAll();
    }
    const renderAll = async function () {
        $('#pagination-page').show()
        renderAppointment("/appointment/all/1")
        $('#pagination-page').twbsPagination('show', 1);
    }

    $("#search").click(async function (e) {
        e.preventDefault()
        let fullName = $("#fullName").val();
        let endpoint = "/appointment/search?fullName=" + fullName
        await renderAppointment(endpoint);
        $('#pagination-page').hide()
    })
    initPage();
</script>