<div th:replace="~{/admin/header}"></div>

<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container pt-5">
        <div class="row g-4 align-items-center justify-content-center">
            <div class="col-lg-8 d-flex justify-content-center">
                <div class="form-control rounded p-5 user-form" style="background-color: #e9ecef;">
                    <form>
                        <div class="display-6 mb-4" style="color: var(--bs-primary); text-align: center;"><b>Đổi mật
                                khẩu</b></div>
                        <div class="row gx-4 gy-3">
                            <div class="col-xl-12">
                                <input name="currentPassword" type="password"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Mật khẩu hiện tại">
                            </div>
                            <div class="col-xl-12">
                                <input name="newPassword" type="password"
                                    class="form-control bg-white border-0 py-3 px-4" placeholder="Mật khẩu mới">
                            </div>
                            <div class="col-xl-12">
                                <input name="confirmPassword" type="password"
                                    class="form-control bg-white border-0 py-3 px-4"
                                    placeholder="Nhập lại mật khẩu mới">
                            </div>
                            <div class="col-12 d-flex justify-content-between mt-3">
                                <a href="/customer/profile" class="btn btn-danger  rounded-pill"><i
                                        class="fa fa-angle-left"></i>&nbsp Trở lại</a>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-primary-outline-0 rounded-pill"><i
                                            class="fa fa-save"></i>&nbsp Lưu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<div th:replace="~{/admin/footer}"></div>
<script>
    $("form").submit(async function (e) {
        e.preventDefault();
        message = "Đổi mật khẩu thành công"
        let password = $("input[name='currentPassword']").val();
        await fetchData("/account/checkPassword", (apiResponse) => {
            if (!apiResponse.success) {
                message = apiResponse.message
            }
        }, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ password })
        });
        newPassword = $("input[name='newPassword']").val();
        confirmPassword = $("input[name='confirmPassword']").val();
        if (newPassword != confirmPassword) {
            message = "password is not match"
        }
        await fetchData("/account/changePassword", (apiResponse) => {
            if (!apiResponse.success) {
                message = apiResponse.message
            }
        }, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "password": newPassword
            })
        });
        alert(message)
        if (message === "Đổi mật khẩu thành công")
            window.location.href = "/customer/profile"
    });

</script>