<div th:replace="~{/admin/header}"></div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Doanh thu năm hiện tại</h6>
                <canvas id="line-chart-this-year"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Doanh thu tháng hiện tại</h6>
                <canvas id="line-chart-this-month"></canvas>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/admin/footer}"></div>
<script>


</script>
<script>
    const render = async function () {
        await fetchData("/bill/thisYear", (apiResponse) => {
            if (!apiResponse.success) {
                console.error(apiResponse.message)
            }
            const bills = apiResponse.result
            bills.forEach((x) => { console.log(x) })
            let datas = Array.from({ length: 12 }, (_) => 0);
            let labels = datas.map((x, index) => "Tháng " + (index + 1))
            bills.forEach(bill => {
                let index = parseInt(bill.updated_at.split("-")[1])
                datas[index - 1] += bill.cost
            })
            var ctx3 = $("#line-chart-this-year").get(0).getContext("2d");
            var myChart3 = new Chart(ctx3, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Salse",
                        fill: true,
                        backgroundColor: "rgba(0, 156, 255, .3)",
                        data: datas
                    }]
                },
                options: {
                    responsive: true
                }
            });

        })
        await fetchData("/bill/thisMonth", (apiResponse) => {
            if (!apiResponse.success) {
                console.error(apiResponse.message)
            }
            const bills = apiResponse.result
            bills.forEach((x) => { console.log(x) })
            let datas = Array.from({ length: 31 }, (_) => 0);
            let labels = datas.map((x, index) => "Ngày " + (index + 1))
            bills.forEach(bill => {
                let index = parseInt(bill.updated_at.split("-")[2])
                datas[index - 1] += bill.cost
            })
            var ctx3 = $("#line-chart-this-month").get(0).getContext("2d");
            var myChart3 = new Chart(ctx3, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Salse",
                        fill: true,
                        backgroundColor: "rgba(0, 156, 255, .3)",
                        data: datas
                    }]
                },
                options: {
                    responsive: true
                }
            });

        })
    }
    render()
</script>