<div th:replace="~{/admin/header}"></div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Doanh thu theo năm</h6>
                <canvas id="line-chart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Doanh thu theo tháng</h6>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/admin/footer}"></div>
<script>


</script>
<script>
    const render = async function () {
        await fetchData("/bill/thisYear", (apiResponse) => {
            if (!apiResponse.success) {
                console.error(apiResponse.message)
            }
            const bills = apiResponse.result
            var ctx3 = $("#line-chart").get(0).getContext("2d");
            var myChart3 = new Chart(ctx3, {
                type: "line",
                data: {
                    labels: [],
                    datasets: [{
                        label: "Salse",
                        fill: true,
                        backgroundColor: "rgba(0, 156, 255, .3)",
                        data: [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15]
                    }]
                },
                options: {
                    responsive: true
                }
            });

        })
    }
    render()
</script>