<!DOCTYPE html>
<html lang="en">
    <div th:replace="~{/customer/header}"></div>
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb py-5">
            <div class="container text-center py-5">
                <h3 class="text-white display-3 mb-4">Về Chúng Tôi</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Về Chúng Tôi</a></li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        
        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="img">
                            <img src="/customer/img/about-1.jpg" class="img-fluid rounded" alt="">
                            
                            <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div>
                            <p class="fs-4 text-uppercase text-primary">Về chúng tôi</p>
                            <h1 class="display-4 mb-4">Trung tâm Spa, Làm đẹp & Chăm sóc Da Tận Tâm</h1>
                            <div class="row g-4">
                                <p class="my-4" style="text-align: justify;">Chào mừng bạn đến với Sephire Spa & Beauty, nơi mang đến cho bạn những trải nghiệm thư giãn và chăm sóc sắc đẹp tuyệt vời nhất. Tọa lạc tại trung tâm thành phố, Sephire không chỉ là một spa thông thường mà còn là một thiên đường cho những ai yêu thích sự chăm sóc bản thân và làm đẹp.
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-gitkraken fa-3x text-primary"></i>
                                        <div class="ms-4">
                                            <h5 class="mb-2">Đạt chuẩn Spa ASEAN</h5>
                                            <p class="mb-0">Trung tâm Beauty & Spa của chúng tôi tự hào đạt chuẩn Spa ASEAN, mang đến cho bạn trải nghiệm chăm sóc sắc đẹp và sức khỏe chất lượng cao, đảm bảo sự hài lòng và thư giãn tối đa trong mỗi liệu trình.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-gift fa-3x text-primary"></i>
                                        <div class="ms-4">
                                            <h5 class="mb-2">Quà tặng hấp dẫn</h5>
                                            <p class="mb-0">Chúng tôi luôn mong muốn mang đến những trải nghiệm đặc biệt cho khách hàng, vì vậy trung tâm Beauty & Spa của chúng tôi thường xuyên tổ chức các chương trình quà tặng hấp dẫn.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-search fa-3x text-primary"></i>
                                        <div class="ms-4">
                                            <h5 class="mb-2">Dịch vụ đa dạng</h5>
                                            <p class="mb-0">Tại trung tâm Beauty & Spa của chúng tôi, chúng tôi tự hào cung cấp những dịch vụ đặc biệt, được thiết kế riêng để mang lại trải nghiệm hoàn hảo cho từng khách hàng.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-arrow-up fa-3x text-primary"></i>
                                        <div class="ms-4">
                                            <h5 class="mb-2">Đội ngũ chuyên nghiệp</h5>
                                            <p class="mb-0">Đội ngũ chuyên nghiệp của chúng tôi bao gồm các chuyên viên giàu kinh nghiệm và tận tâm, luôn sẵn sàng lắng nghe và tư vấn để mang lại cho bạn những dịch vụ chăm sóc sắc đẹp và sức khỏe tốt nhất, đảm bảo bạn cảm thấy thoải mái và hài lòng trong suốt quá trình trải nghiệm.</p>
                                        </div>
                                    </div>
                                </div>
                                

                             </div>
                            
                         
                            
                    </div> 
                    
                    </div>
                    
                </div>
                <div class="col-lg-12">
                    <p class="my-4" style="text-align: justify;">

                        <br/>Tại Sephire, chúng tôi tự hào sở hữu một đội ngũ chuyên gia giàu kinh nghiệm và nhiệt huyết, luôn sẵn sàng lắng nghe và đáp ứng nhu cầu của bạn. Chúng tôi cung cấp đa dạng các dịch vụ từ liệu pháp massage thư giãn, chăm sóc da mặt, đến các liệu pháp làm đẹp chuyên sâu, giúp bạn không chỉ cảm thấy thư giãn mà còn tự tin hơn với vẻ đẹp của mình.
                         
                         <br/>Chúng tôi sử dụng những sản phẩm chất lượng cao và công nghệ tiên tiến nhất trong ngành spa và làm đẹp, đảm bảo mang đến cho bạn những trải nghiệm an toàn và hiệu quả. Mỗi liệu trình tại Sephire đều được thiết kế riêng biệt, phù hợp với từng loại da và nhu cầu cá nhân của khách hàng.
                         
                         <br/>Hãy để Sephire Spa & Beauty là điểm đến lý tưởng của bạn để tái tạo năng lượng, cải thiện sức khỏe và làm đẹp. Chúng tôi cam kết mang đến cho bạn không gian yên tĩnh, thư giãn và dịch vụ tận tâm nhất. Đến với Sephire, bạn không chỉ tìm thấy sự chăm sóc mà còn là sự kết nối với bản thân, giúp bạn tỏa sáng hơn bao giờ hết.
                 </div>
                 <div class="col-lg-12" style="text-align: center;">
                    <a href="#" class=" btn-primary btn-primary-outline-0 rounded-pill py-3 px-5 ">Khám phá các dịch vụ của chúng tôi ngay &nbsp<i class="fas fa-angle-right "></i></a>
                 </div>
                 
            </div>
        </div>
        <!-- Modal Video -->
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Trailer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript to control video -->
        <script>
            const videoUrl = "https://www.youtube.com/embed/xsnCYCEbdr4";

            document.getElementById('videoModal').addEventListener('show.bs.modal', function () {
                document.getElementById('video').src = videoUrl;
            });

            document.getElementById('videoModal').addEventListener('hide.bs.modal', function () {
                document.getElementById('video').src = "";
            });
        </script>
        <!-- About End -->
        <div th:replace="~{/customer/footer}"></div>
    </body>

</html>