<!DOCTYPE html>
<html lang="en">
<div th:replace="~{/customer/header}"></div>


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Dịch vụ của chúng tôi</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item active text-white">Dịch vụ</li>
            </ol>
    </div>
</div>
<!-- Header End -->


<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Dịch vụ của chúng tôi</p>
            <h1 class="display-3">Dịch vụ Spa và Làm đẹp</h1>
        </div>
        <div class="row g-4" id="services">
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Chăm sóc da mặt</h3>
                                <p>Chăm sóc da mặt là quy trình giúp làm sạch, dưỡng ẩm và nuôi dưỡng làn da, mang lại
                                    vẻ tươi sáng và khỏe mạnh tự nhiên.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-1.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-2.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Đắp mặt nạ</h3>
                                <p>Là phương pháp chăm sóc da sử dụng các loại mặt nạ giàu dưỡng chất để cấp ẩm, làm
                                    sáng và tái tạo da, giúp da mềm mịn và rạng rỡ hơn.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Tắm Suối</h3>
                                <p>Tắm suối là trải nghiệm thư giãn trong làn nước mát tự nhiên, giúp làm dịu cơ thể,
                                    giảm căng thẳng và cải thiện tuần hoàn máu.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-3.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-4.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Liệu pháp chăm sóc da mặt</h3>
                                <p>Là liệu pháp chăm sóc da mặt chuyên sâu, kết hợp các bước làm sạch, tẩy tế bào chết,
                                    massage và dưỡng da nhằm cải thiện độ đàn hồi.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Massage toàn thân</h3>
                                <p>Là liệu pháp thư giãn toàn diện, giúp giảm căng thẳng, xoa dịu cơ bắp và cải thiện
                                    tuần hoàn máu bằng cách sử dụng các kỹ thuật xoa bóp nhẹ nhàng và áp lực lên các
                                    vùng cơ thể.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-5.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-6.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Liệu pháp hương thơm</h3>
                                <p>Là liệu pháp thư giãn sử dụng tinh dầu chiết xuất từ thiên nhiên để kích thích khứu
                                    giác, giúp cân bằng tinh thần, giảm căng thẳng và cải thiện tâm trạng.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Liệu pháp ngâm mình</h3>
                                <p>Là liệu pháp ngâm mình trong nước khoáng tự nhiên chứa nhiều khoáng chất có lợi, giúp
                                    thư giãn cơ bắp, cải thiện tuần hoàn máu và detox cơ thể.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-3.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-1.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Massage sử dụng đá</h3>
                                <p>Bằng cách kết hợp nhiệt độ của đá với kỹ thuật massage chuyên nghiệp, liệu pháp này
                                    mang lại cảm giác thư giãn sâu sắc cho cơ thể.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="services-btn text-center">
                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Dịch vụ mở rộng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<div th:replace="~{/customer/footer}"></div>
<script src="/fetchData.js"></script>
<script>
    fetchData('/service/services', (services,index) => {
        container = $("#services");
        html = '';  
        services.forEach((service, index) => {
            html += `<div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>${service.name}</h3>
                                <p>${service.description}</p>
                                <a href="/customer/login"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt
                                    Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/${service.imagePath}" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `;
        });
        container.html(html);
    });
</script>
</body>

</html>