<!DOCTYPE html>
<html lang="en">
<div th:replace="~{/customer/header}"></div>


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb py-5">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Dịch vụ của chúng tôi</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Trang</a></li>
            <li class="breadcrumb-item active text-white">Dịch vụ</li>
        </ol>
    </div>
</div>
<!-- Header End -->


<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Dịch vụ của chúng tôi</p>
            <h1 class="display-3">Dịch vụ Spa và Làm đẹp</h1>
        </div>
        <div id="serviceContainer" class="row g-4">
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Chăm sóc da mặt</h3>
                                <p>Chăm sóc da mặt là quy trình giúp làm sạch, dưỡng ẩm và nuôi dưỡng làn da, mang lại
                                    vẻ tươi sáng và khỏe mạnh tự nhiên.</p>
                                <a href="login.html"
                                    class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Đặt Ngay</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="/customer/img/services-1.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="services-btn text-center">
                    <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Dịch vụ mở rộng</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services End -->
<div th:replace="~{/customer/footer}"></div>
<script src="/customer/js/renderService.js"></script>
<script>
    fetchData(ApiEndpoints.allServices, (apiResponse) => {
        if (!apiResponse.success) {
            throw new Error(`status:${apiResponse.code}\nmessage:${apiResponse.message}`)
        }
        services = apiResponse.result;
        renderService(services);
    })
</script>
</body>

</html>